body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    font-size: 18px;
    display: flex;
    gap: 20px;
}

a, .secondary-text {
    color: #E5E7EB;
    text-decoration: none;
}

img {
    border-radius: 10px;
    opacity: 0.8;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero {
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}

.header {
    width: 1100px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 15px ;
}

p.secondary-text {
    margin-top: 0;
}

button {
    color: white;
    font-size: 18px;
    font-weight: 900;
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;

}

.hero-content {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin: 100px 0;

}

.services {
    margin-bottom: 100px;
}

.services h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-top: 50px;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card {
    width: 200px;
    text-align: center;
}

.card-image {
    height: 200px;
    width: 200px;
    border: #3882F6 solid 5px;
    border-radius: 15px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote {
    width: 800px;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
 }
.quote p {
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 0;
}

.quote cite {
    margin-top: 0;
    font-size: 20px;
    font-weight: 900;
    align-self: flex-end;
}

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
}

.container {
    width: 1100px;
    background-color: #3882F6;
    padding: 40px 0;
    color: white;
    display: flex;
    justify-content: center;
    gap: 60px;
    border-radius: 10px;
}

.call-to-action .container button {
    height: 44px;
    border: white solid 3px;
    align-self: center;
}

.call-to-action .container div h1 {
    margin-bottom: 0;
    font-size: 24px;
}

.call-to-action .container div p {
    margin-top: 0;
    font-size: 18px;
}

.footer {
    background-color: #1F2937;
    color: white;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}