body {
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    font-size: 18px;
    display: flex;
    gap: 20px;
}

a, .secondary-text {
    color: #E5E7EB;
    text-decoration: none;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero {
    background-color: #1F2937;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 1100px;
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 0;
}

p.secondary-text {
    margin-top: 0;
}

button {
    color: white;
    font-size: 18px;
    font-weight: 900;
    padding: 10px 40px;
    border: none;
    border-radius: 8px;
    background-color: #3882F6;

}

.hero-content {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    margin: 100px 0;

}

.services h1 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

}

.card-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.card {
    width: 200px;
    text-align: center;
}

.card-image {
    height: 200px;
    width: 200px;
    border: #3882F6 solid 5px;
    border-radius: 15px;
}